# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# storybook
/storybook-static

# misc
.DS_Store
*.pem

# webstorm
/.idea

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Service Account for Cypress + Firebase
serviceAccount.json
